services:
  mailcatcher:
    image: dockage/mailcatcher:${MAILCATCHER_VERSION:?required}
    container_name: mailcatcher
    restart: unless-stopped
    networks:
      - traefik-network
      - mailcatcher-network
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-network

      - traefik.http.routers.mailcatcher.rule=Host(`${MAILCATCHER_SERVER_HOSTNAME:?required}`)
      - traefik.http.routers.mailcatcher.entrypoints=https
      - traefik.http.routers.mailcatcher.tls.certresolver=letsencrypt
      - traefik.http.routers.mailcatcher.middlewares=trusted@file
      - traefik.http.routers.mailcatcher.service=mailcatcher

      - traefik.http.services.mailcatcher.loadbalancer.server.port=1080
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:1080/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s


networks:
  traefik-network:
    external: true
  mailcatcher-network:
    external: true
